.modal{
    width: 60%;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    position: fixed;
    top: 20vh;
    left: 5%;
}

.modal-header{
    padding: 1rem;
    background: rgba(50,50,50);
    color: rgba(255,255,255);
}

.modal-header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: lighter;
}

.modal-content {
    padding: 1rem;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}


@media (min-width: 768px) {
    .modal{
        width: 30rem;
        left: calc((100% - 30rem) / 2);
    }
}